@import './../../../styles/variables.scss';

.account {
  height: 65vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $white;
  padding: 0 10px;

  .text {
    max-width: 600px;

    h1 {
      font-size: 48px;
      font-weight: 700;
      margin-bottom: 50px;
    }

    p {
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 60px;
    }

    .btnWidth {
      width: 270px;
    }

    a:hover {
      background-color: $blueHover;
    }
  }
}

@media (max-width: 1000px) {
  .account {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;

    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      h1 {
        font-size: 32px;
      }
    }

    .img {
      width: 200px;
      height: 200px;
    }
  }
}
